<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OpenEMR Suite" parallel="tests">
			<!-- parallel="tests to run parallely in different browsers--> 

<parameter name= "browser" value="ch"></parameter>

  <test thread-count="5" name="LoginTest">
    <classes>
      <class name="com.sg.openemrtest.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
